@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: #0c0c0c;
    font-family: 'Poppins';
}
.mobile{
    display: none;
    height: 6rem;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
}
.mobile section{
    display: flex;
    gap: 15px;
}
.mobile i{
    font-size: 23px;
    margin-top: 10px;
}


.mobile_view{
    display: none;
    flex-direction: column;
    height: 18rem;
    padding: 60px 60px 20px 60px;
    justify-content: center;
    align-items: center;
}
.mobile_view nav i{
    font-size: 25px;
}
.mobile_view a:hover{
    color: #e65616;
}
#cont{
    color: #e65616;
}

header{
    background-color: #1F1E20;
    display: flex;
    padding: 40px 60px 0px 60px;
    padding-bottom: 20px;
    background-color: #1F1F1F;
    gap: 125px;
}
.section_title{
    margin-top: 60px;
}
header h1{
    color: white;
    font-weight: 600;
    font-size: 25px;
}
.navigation{
    display: flex;
    gap: 20px;
}

header a:hover{
    color: white;
    border-bottom: 2px solid orangered;
}
.navigation i{
    color: #5b5b5c;
    font-size: 20px;
}
#hamburger-menu{
    color: #939396;
    color: white;
}
#close-menu{
   display: none;
    color: #aeaeb1; 
}
a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: rgb(197, 193, 193);
    margin-top: 10px;
    cursor: pointer;
}
.main{
    display: flex;
    flex-direction: column;
    height: 53rem;
    font-family: 'Ubuntu';
    color: white;
    /* background-color: gold; */
}
.my_profile{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.24.jpeg);
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat;
    width: 20rem;
    height: 25rem;
    display: block;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.about_me{
    margin-top: 40px;
}
.section_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px 20px;
    gap: 5px;
}
.main h1{
    text-align: center;

}
.section_title #home{
    color: #e65616;
}
.main h1{
    color: white;
    font-size: 6rem;
}
.contact{
    color: white;
}
.ri-arrow-right-s-line, .contact{
    margin-top: 10px;
}


  /* animation */
  .section_title #home{
    animation: move-right 4s ease-in-out 1s  forwards;
    visibility: hidden;
  }
  .section_title p{
    animation: move-right 4s ease-in-out 2s  forwards;
    visibility: hidden;
  }
  .move-up{
    animation: move-up 4s ease-in-out 0s  forwards;
    visibility: hidden;
}

@keyframes move-up {
    0%{
        opacity: 0;
        transform: translateY(5rem);
    };
    50%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}

@keyframes move-right {
    0%{
        opacity: 0;
        transform: translateX(-9rem);
    };
    50%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}
.about_me{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lastest_projects{
    margin-top: 60px;
    padding: 60px 20px 20px 20px;

}
.lastest_projects{
    color: white;
}
.my_projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    background-color: #1b1b1d;
    margin-top: 50px;
    height: 40rem;
}
.my_projects div{
    background-color: #e65616;
    border-radius: 10px;
}
#one{
   /* background-image: url(/img/profile_imgs/profile-pic.png); */
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.40.53.jpeg);
    background-image: url(/WhatsApp\ Image\ 2024-12-01\ at\ 15.40.53.jpeg);
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat;

 
}
.project{
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat;
}
#two{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.40.55.jpeg);
}
#three{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.40.55\ \(1\).jpeg);
}
#four{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.22.jpeg);
}
#five{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.22\ \(1\).jpeg);
}
#six{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.22\ \(2\).jpeg);
}
#seven{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.24.jpeg);
    
}
#eight{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.25.jpeg);
}

#nine{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.25\ \(1\).jpeg);
}
#ten{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.26.jpeg);
}
#eleven{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.25\ \(2\).jpeg);
}
#twelve{
    background-image: url(/img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.25.jpeg);
}

.skills_set{
    display: flex;
    margin-top: 80px;
    height: 35rem;
    flex-basis: 20rem;
    padding: 30px 60px 30px 60px;
    color: white;
    /* background-color: red; */
    gap: 30px;
}
.skills{
    flex-grow: 2;
    /* height: 28rsem; */
    /* background-color: blue; */
}
.skills h1{
    margin-bottom: 50px;
    color: white;
}
.skills nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.language h2{
    font-weight: 400;
}
.percentage{
    background-color: red;
    height: 40px;
    border-radius: 20px;
    flex-basis: 10rem;
    display: flex;
}
.high{
    background-color: #0c0c0c;
    background-color: #e65616;
    border-radius: 20px 0px 0px 20px;
    height: 40px;
    flex-grow: 7;
}
#html{
    border-radius: 20px 20px;

}
.low{
    background-color: #aa20d4;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
     
    height: 40px;
    flex-grow: 1;
}
.experience_set{
    flex-grow: 4;
    background-color: #e65616;
    /* background-color: brown; */
    /* height: 28rem; */
    border-radius: 20px;
}
footer{
    display: flex;
    flex-basis: 2rem;
    height: 20rem;
    background-color: #222122;
    background-color: #1F1E20;
    padding: 30px 0px 30px 60px;
} .left_footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    height: 30rem;
}
.copy_terms{
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 0px 60px;
    background-color: #1F1E20;
    color: #5b5b5c;  
    height: 10rem;

}
.copy_terms,.contact_us p{
    color: #5b5b5c;  
}

.left_footer p{
    color: #5b5b5c;  
  }
  .left_footer h1,h3{
      color: white;
  }
  .left_footer input, #join-btn{
      padding: 15px;
      border-radius: 6px;
      border: none;
  }
  .left_footer button{
      width: 120px;
      background-color: #e65616;
      color: white;
  }
  .right_footer{
      display: flex;
      justify-content: space-around;
      flex-grow: 3;
  }
  .right_footer h3{
      color: white;
      font-weight: 600;
  }
  .site_menu{
      display: flex;
      flex-direction: column;
  }
  .site_menu a{
      color: #5b5b5c;
      font-weight: 400;

  }
  .site_menu a:hover{
      color: #e65616;
  }
  .contact_us{
    display: flex;
    flex-direction: column;
  }
  .contact_us nav{
      display: flex;
      gap: 20px;
  }
  .contact_us i{
      font-size: 22px;
  }
  .contact_us p{
      color: #5b5b5c;
  }
  #terms{
      color: #5b5b5c;  
  }
  @media only screen and (max-width: 414px) {
    header{
        display: none;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    header nav{
        display: none;
        margin-right: 40px;
    }
    .mobile_view h1{
        color: white;
    }
    .mobile{
        display: flex;
        padding: 20px;
        font-weight: 800;
        font-size: 30px;
        color: white;
        background-color: #222122;
    }
    .mobile h1{
        font-size: 20px;
    }
    #close{
        display: none;
    }
    .desktop_view{
        display: none;
    }
    .mobile_view #about{
       color: #e65616;
    }
    .mobile_view nav{
        margin-top: 20px;
    }
    nav a{
        font-size: 15px;
        color: #5b5b5c;
    }
    .about_me{
        padding: 60px 20px 20px 20px;
        justify-content: center;
        align-items: center;
    }
    .more{
        padding: 60px 20px 20px 20px;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
    }
    .two h3{
        font-weight: 300;
        /* color: red; */
    }
  
    .lastest_projects{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .my_projects{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 130rem;
        padding: 20px 20px;
    }
    .my_projects div{
        /* background-color: #e65616; */
    }
    .project{
        background-size: cover; /* Ensures the image covers the container */
        background-position: center; /* Centers the image within the container */
        background-repeat: no-repeat;
        height: 10rem;
        height: 24rem;


    }
    #one{
         background-image: url(/WhatsApp\ Image\ 2024-12-01\ at\ 15.40.53.jpeg);
     }
    #two{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 15.40.55.jpeg);

    }
    #three{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 15.40.55\ \(1\).jpeg);
    }
    #four{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.22.jpeg);
    }
    #five{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.22\ \(1\).jpeg);
    }
    #six{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.22\ \(2\).jpeg);
    }
    #seven{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.24.jpeg);
    }
    #eight{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 15.41.25.jpeg);
    }
    #nine{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.25\ \(1\).jpeg);
    }
    #ten{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.26.jpeg);
    }
    #eleven{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.25\ \(2\).jpeg);
    }
    #twelve{
        background-image: url(./img/WhatsApp\ Image\ 2024-12-01\ at\ 18.35.25.jpeg);
    }
    
    .skills_set{
        display: flex;
        flex-direction: column;
        padding: 60px 20px 20px 20px;
    }
    footer, .left_footer, .right_footer, .site_menu, .contact_us, .copy_terms{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
    }
    .right_footer{
        text-align: center;
    }
    footer{
        padding: 20px;
        height: 55rem;
    }
    .left_footer{
       flex-wrap: wrap;
       padding: 20px;
       justify-content: center;
       align-items: center;
    }
    .left_footer h1, h3, p{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .left_footer span{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .left_footer button{
        width: 200px;
    }
    .right_footer, .contact_us{
        /* background-color: yellowgreen; */
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
  }
@media only screen and (min-width: 1000px) {
    #close-menu{
        display: none;
    }
    
    #hamburger-menu{
        display: block;
    }
    header{
        display: none;
    }
    .desktop_view{
        display: flex;
        justify-content: space-between;
        /* padding: 25px; */
        padding: 30px 60px 30px 60px;
        background-color: #1F1E20;
        background-color: #222122;
        
        flex-wrap: wrap;
        width: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
    }
    .desktop_view nav a:hover{
        border-bottom: 2px solid orangered;
        color: white;
    }
    .link:hover{
        border-bottom: 2px solid orangered;
        color: white;
    }
    .desktop_view nav{
        display: flex;
        gap: 70px;
    }
    .desktop_view nav #about{
        border-bottom: 2px solid orangered;
        color: white;
    }
    .left_nav{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .left_nav i{
        font-size: 20px;
        padding: 10px 0px 0px 0px;

    }
    .left_nav a{
        border: 1px solid #e65616;
        width: 100px;
        text-align: center;
        padding: 5px 5px 3px 5px;
        padding: 7px;
        background-color: #e65616;
        color: white;
        border-radius: 5px;
        font-size: 13px;
    }
    #search{
        color: white;
    }
    .desktop_view h1{
        font-weight: 800;
        font-size: 30px;
        color: white;
    }
    nav a{
        font-size: 15px;
        color: #8c8c8d;

    }
    .main{
        padding: 30px 60px 30px 60px;

    }
    .about_me p{
        font-size: 3rem;
        font-weight: 200;
    }
    .about_me h3{
        font-size: 4rem;
        color: #e65616;
        text-align: center;

    }
    .more{
        display: flex;
        justify-content: space-between;
        padding: 30px 60px 30px 60px;

        height: 35rem;
        gap: 150px;
        margin-top: 60px;
        color: white;
    }
    .one{
        font-family: 'Ubuntu';
    }
    .two{
        width: 500px;
    }
    .one h3{
        font-size: 2rem;
        font-weight: 500;
    }
    .two h3{
        font-weight: 300;
    }
   
}